@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .hero-gradient {
    background: linear-gradient(135deg, #22577A 0%, #38A3A5 50%, #57CC99 100%);
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

